{% extends "layouts/main.html" %}

{% set pageName = "Do you receive any of these benefits?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["benefits-received"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["benefits-received"], href: "#benefits-received" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "benefits-received",
      fieldset: {
        legend: {
          text: "Do you receive any of these benefits?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: { text: "Income Support, income-based Jobseeker's Allowance, income-related Employment and Support Allowance, support under Part VI of the Immigration and Asylum Act 1999, the guaranteed element of Pension Credit, Child Tax Credit (provided you're not also entitled to Working Tax Credit and have an annual gross income of no more than £16,190), Working Tax Credit run-on, or Universal Credit." },
      errorMessage: errors["benefits-received"] if errors else null,
      value: data["benefits-received"],
      items: [
        { value: "yes", text: "Yes" },
        { value: "no", text: "No" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
