{% extends "layouts/main.html" %}

{% set pageName = "Apply for free school meals" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for free school meals</h1>
    <p class="govuk-body">Use this service to apply for free school meals for your child.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your National Insurance number</li>
      <li>Your child's date of birth</li>
      <li>Your child's school name</li>
    </ul>
    <p class="govuk-body">It takes around <strong>5 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/benefits-received",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
